<!DOCTYPE html>
<html>
    <head>
        <title>Book 1 Chapter 3 Sections</title>
        <link rel="stylesheet" href="css/style.css" />
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
    <script src="https://github.com/janl/mustache.js/blob/master/mustache.js"></script>
    	<h1 align="center">Ebooks</h1>
				<a href="http://localhost:8080/books" class="button">Home</a>
    	    	<a href="http://localhost:8080/book1_chapters" class="button">Back</a> 
    	    	<a href="http://localhost:8080/books" class="button">View Annotations</a>    	
 
    	    	   	
    	        <h2>Sections</h2>
    			    	<table>
    			    	{{#book1_chapter3_section}}
            <tr>
                <th>Section</th>
                <td>{{section_name}}</td>
                               
            </tr>
            <tr>
            <th>.</th>
                <td>{{content}}</td>
                </tr>
            
            {{/book1_chapter3_section}}
        </table>
        
    </body>
</html>