<!DOCTYPE html>
<html>
    <head>
        <title>Books</title>
        <link rel="stylesheet" href="css/style.css" />
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
    	<h1 align="center">Ebooks</h1>
    	<a href="http://localhost:8080/books" class="button">Home</a>
    	
    	
        <h2>List of Books</h2>

        <table>
            <tr>
                <th>Book Name</th>
                <th>Description</th>
            </tr>
            {{#books}}
            <tr>
            	<td><a href="http://localhost:8080/book1_chaps" class="button">{{book_name}}</a></td>
		<td>{{book_details}}</td>
				
            </tr>
            {{/books}}
        </table>
    </body>
</html>
